# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# Environnement virtuel
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*~ 
*/migrations/*.bak

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
